
sentence-transformers>=3.0.1
transformers>=4.45.0
accelerate>=0.34.2
datasets>=2.21.0
peft>=0.12.0
torch>=2.4.1
faiss-cpu>=1.8.0.post1
PyYAML>=6.0.2
requests>=2.32.3
PyGithub>=2.4.0
fastapi>=0.115.0
uvicorn>=0.30.6
PyQt6>=6.7.1
pyzmq>=26.2.0
pytest>=8.3.3
python-dotenv>=1.0.1
SQLAlchemy>=2.0.35
alembic>=1.13.3
